bpf_bpfeb.go
bpf_bpfeb.o
bpf_bpfel.go
bpf_bpfel.o
temp_data/
# 排除所有headers目录下的vmlinux
**/headers/vmlinux.h

*/test/process
*/test/pthread

*/temp
**/event.txt
**/metrics.json
**/FlameGraph
BCC_sar/src/flameGraphGenerater/perf_generator
BCC_sar/src/flameGraphGenerater/sched_generator
