Language: Cpp
BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Right
Cpp11BracedListStyle: false
IncludeCategories:  
  - Regex: '"vmlinux.h"' # let vmlinux.h come first
    Priority: -1
  - Regex: '"utrace.*h"'    
    Priority: 0
  - Regex: '^"(llvm|llvm-c|clang|clang-c)/'
    Priority: 2
  - Regex: '^(<|"(gtest|isl|json)/)'
    Priority: 2
  - Regex: '.\*'
    Priority: 1
