
.sidemenu {
  display: none !important;
}

[aria-label="Share dashboard or panel"] {
  display: none !important;
}

[aria-label="Search links"] {
  pointer-events: none;
  cursor: default;
}

[aria-label="Breadcrumbs"] {
  pointer-events: none;
  cursor: default;
}

[aria-label="Toggle menu"] {
  pointer-events: none;
  cursor: default;
}

[title="Toggle top search bar"] {
  display: none !important;
}

.main-view > div:first-of-type > div:first-of-type {
  display: none !important;
}