<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/data/collect" method="post">
        <!--<input type="checkbox" name="degree" value="dispatchingdelay">dispatchingdelay
        <input type="checkbox" name="degree" value="waitingqueuelength">waitingqueuelength
        <input type="checkbox" name="degree" value="softirqtime">softirqtime
        <input type="checkbox" name="degree" value="hardirqtime">hardirqtime
        <input type="checkbox" name="degree" value="oncputime">oncputime-->

        <input type="checkbox" name="dispatchingdelay" value="true">dispatchingdelay
        <input type="checkbox" name="waitingqueuelength" value="true">waitingqueuelength
        <input type="checkbox" name="softirqtime" value="true">softirqtime
        <input type="checkbox" name="hardirqtime" value="true">hardirqtime
        <input type="checkbox" name="oncputime" value="true">oncputime
        <input type="submit">
    </form>
</body>
</html>