name: LSM

on:
  push:
    branches:
      - "*"
    paths:
      - 'eBPF_Supermarket/old_project/LSM_BPF/lsm_bpf_monitoring/**'
      - '.github/workflows/ebpf_lsm.yml'
  pull_request:
    branches:
      - "*"
    paths:
      - 'eBPF_Supermarket/old_project/LSM_BPF/lsm_bpf_monitoring/**'
      - '.github/workflows/ebpf_lsm.yml'

  
jobs:
  build-and-test:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
          python-version: "3.10"
      
    - name: make
      run: make
      
    - name: run
      run: |
        sudo ./deny_unshare
      
      
      
